* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f7;
}

header {
    width: 80vw;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px
}

header img {
    width: 15px;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10px;

    text-decoration: none;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80vw;
    height: auto;

    display: flex;
    flex-direction: row;
}

.slogan {
    width: 70vw;
    height: 40vh;

    display: flex;
    align-items: center;
}

.slogan h1 {
    color: #000;
    font-size: 36px;

    font-family: Arial, Helvetica, sans-serif;
}

/* .slogan h2 {
    color: #6E6E73;
    font-size: 35px;

    font-family: Arial, Helvetica, sans-serif;
} */

.suporte-container {
    width: 30vw;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 15px;
}

.suporte-container img {
    width: 30px;
}

.suporte-container p,
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.suporte-container a {
    text-decoration: none;
    color: #0000ff;
}

.suporte-container .suporte-container-info {
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 10px;
}

.location-container-info {
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 10px;
}

.section-1 {
    width: 80vw;

    display: flex;
    justify-content: space-evenly;
}

.section-1 .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.section-1 .card img {
    width: 95px;
}

.section-1 .card h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.title-container {
    width: 80vw;

    margin-top: 35px;
    margin-bottom: 35px;
}

.title-container h1 {
    color: #000;
    font-size: 22px;

    font-family: Arial, Helvetica, sans-serif;
}

.section-2 {
    width: 80vw;

    display: flex;
    flex-direction: row;
    gap: 25px;

    overflow-x: auto;
}

.section-2 .card-type-1,
.card-type-2 {
    min-width: 400px;
    max-height: 480px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    border-radius: 10px;
}

.section-2 .card-type-1 {
    background-color: #000;
}

.section-2 .card-type-2 {
    background-color: #FFF;
}

.section-2 .card-product-description {
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-inline: 25px;
    padding-top: 25px;
}

.section-2 .card-type-1 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFF;
}

.section-2 .card-type-1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #FFF;
}

.section-2 .card-type-2 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

.section-2 .card-type-2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #000;
}

.card-img-container {
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-container img {
    width: 100%;
}